.icon-row {
  display: flex;

  padding-bottom: 20px;
}
.icon-row-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.icon-row-icon i {
  font-size: 35px;
  margin-bottom: 10px;
}
.icon-row-icon span {
  font-size: 20px;
  text-align: center;
}
.icon-row2 {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.icon-row2 > .icon-row-icon {
  width: 50%;
}
/* .icon-row-icon2 {
  margin-right: 50px;
} */
.icon_row3 {
  width: 50%;
}
