.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 25px;
  margin-top: 10px;
}
.screen-header-title {
  font-size: 32px;
  font-weight: 600;
  align-items: center;
}
.screen-header-icons {
  display: flex;
  position: relative;
}
.screen-header-icons span {
  margin-left: 25px;
}
@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}
.screen-header-icons .fa-cog:hover {
  animation: rotatecog 2s linear infinite;
}
