.more-screen {
  margin-bottom: 40px;
}
.more-suggestions {
  margin-top: 40px;
  padding-top: 30px;
  border-top: var(--main-border);
}
.more-suggestions-title {
  font-weight: 600;
  margin-bottom: 30px;
}
.more-suggestions-icons {
  display: flex;
}
.more-suggestions-icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions-icon span {
  font-weight: 600;
}
.more-suggestions-icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  margin-bottom: 10px;
}
.more-suggestions-icon-image i {
  color: white;
}
